@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    /* CORES: */
    --dark-green: #0D302C;
    --green: #466a5c;
    --grey: #c4c4c4;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins';
    background-color: black;
    color: white;
}

/* HEADER */
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #0d302c1f;
    margin-top: -15px;
}

header > a {
    padding: 12px;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--green);
    text-decoration: none;
    text-shadow: 0px 0px 3px, 0px 0px 12px;
}

header > a:hover {
    transition: all 0.5s;
    text-shadow: 0px 0px 8px, 0px 0px 14px, 0px 0px 17px;
}



span#burguer {    
    text-align: center;
    padding: 10px;
    color: white;
    text-shadow: 0px 0px 4px;
    font-size: 2.5em;
    font-weight: lighter;
}

span#burguer:hover {
    transition: all 0.5s;
    text-shadow: 0px 0px 12px, 0px 0px 16px;
    cursor: pointer;
    position: relative;
}

header > nav {
    display: none;
    position: absolute;
    background-color: #0d302c69;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.3s ease;
}

nav a {
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

nav a:hover {
    background-color: var(--green);
    border-radius: 10px;
    transition: all 0.5s;
}

/* CONTEÚDO PRINCIPAL */
main {
    padding: 10px;
    align-self: center;
    margin-top: 20px;
}

/* HOME PAGE */
section#home {
    padding: 40px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* LOGO */
section#home > div#logo {
    display: block;
    color: var(--green);
}

section#home > div#logo {
    margin: auto;
    margin-bottom: 100px;
}

section#home > div#logo > svg {
    margin: auto;
}

/* CONTEÚDO */
section#home > div#content {
    display: block;
}

section#home > div#content > h1 {
    font-size: 2.3em;
    color: var(--green);
}

section#home > div#content > h2 {
    margin-bottom: 20px;
    margin-left: 10px;
}

section#home > div#content abbr {
    color: var(--grey);
    text-decoration: none;
}

section#home >  div#content  abbr:hover {
    transition: all 0.1;
    text-decoration: underline;
    cursor: default;
}

section#home  > div#content > p {
    font-size: 0.8em;
    padding-bottom: 20px;
    margin-top: -5px;
}

section#home menu a {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
    border-radius: 100px;
}

 section#home menu a:hover {
    background-color: var(--dark-green);
    color: black;
    padding: 15px 18px;
    box-shadow: 0px 0px 12px var(--dark-green), 0px 0px 50px var(--dark-green), 0px 0px 100px var(--dark-green);
    transition: all 1s;
}

a#inteBtn {
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-left: 10px;
    background-color: var(--dark-green);
    color: black;
    text-decoration: none;
    border-radius: 100px;
    box-shadow: 0px 0px 20px var(--dark-green);
    flex: 0 0 0;
}

a#inteBtn:hover {
    transition: all 0.5s;
    width: 220px;
    height: 300px;
    font-size: 1.1em;
}

a#inteBtn:active {
    background-color: var(--green);
}

/* PAGE SOBRE */

section#sobre {
    padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

section#sobre > div#imgSobre {
    padding: 10px;
        display: block;
        color: var(--green);
        margin-right: 30px;
}

section#sobre > div > h1 {
    min-width: 400px;
    font-size: 2.3em;
    color: var(--green);
}

section#sobre > div > h2 {
    color: grey;
    margin-bottom: 20px;
    margin-left: 10px;
}

section#sobre > div > h2:hover {
    text-decoration: underline;
    cursor: default;
}

section#sobre > div  p {
    padding: 10px;
    margin-top: 15px;
    font-size: 0.8em;
}

section#sobre p:hover {
    transform: scale(110%);
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--dark-green);
    transition: all 0.5s;
    cursor: default;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* PAGE SERVIÇOS */

section#serviços {
    margin-top: 40px;
}

section#serviços > h1 {
    text-align: center;
    font-size: 2.3em;
    margin: 50px;
    color: var(--green);
}

div#service {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

div.service-box {
    text-align: center;
    margin: 40px 0;
    width: 90%;
    padding: 20px;
    border-radius: 30px;
}

div.service-box > h1 {
    padding: 10px;
    font-size: 1.3em;
}

div.service-box p {
    font-size: 0.8em;

}

div.service-box svg {
    background-color: var(--dark-green);
    padding: 10px;
    border-radius: 100px;
}

div.service-box:hover {
    background-color: var(--dark-green);
    transition: all 0.5s;
    cursor: pointer;
}

div.service-box:hover svg {
    color: var(--dark-green);
    background-color: white;
    transition: all 1s
}

/* PAGE EXPERIENCIAS */

section#experiência {
    margin-top: 40px;
}

section#experiência h1 {
    padding: 20px;
    text-align: center;
    font-size: 2.3em;
    color: var(--green);
}

article {
    min-width: 300px;
    max-width: 638px;
    background-color: #13363256;
    width: 95%;
    padding: 18px;
    margin: auto;
}

div#expContainer {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border: 1px solid var(--dark-green);
}

div.expBlock {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid var(--dark-green);
}

div.expBlock svg {
    margin:  10px;
    width: 170px;
    color: #0D302C;
    height: 120px;
}

div.expBlock svg:hover {
    transform: scale(110%);
    transition: all 1s;
}